<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Puzzler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Puzzler.Properties.Settings>
            <setting name="PuzzleBackground" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="PuzzleImageFillType" serializeAs="String">
                <value>BlurredFill</value>
            </setting>
            <setting name="PieceHorizontalCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PieceVerticalCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ShowTimer" serializeAs="String">
                <value>True</value>
            </setting>
        </Puzzler.Properties.Settings>
    </userSettings>
</configuration>